<IfModule mod_rewrite.c>
    RewriteEngine On

RewriteCond %{HTTP_HOST} ^l\.lumieredumonde-mag\.com$ [NC]
RewriteCond %{REQUEST_URI} !^/lumiere/public/
RewriteRule ^(.*)$ /lumiere/public/$1 [L]
</IfModule>
