<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Empêche la boucle infinie si la requête est déjà dans /public
    RewriteCond %{REQUEST_URI} !^/public/

    # 2. Redirige tout vers le dossier public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
